body{
    background-color: black;
}
.first{
    background-image:url( "https://assets.nflxext.com/ffe/siteui/vlv3/b85863b0-0609-4dba-8fe8-d0370b25b9ee/fdf508c8-97d0-42fd-a6f9-9bef6bf96934/IN-en-20230731-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    height:100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.7);
    
}
.overlay{
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.language{
  display: flex;
  gap: 10px;
}       

#main_logo{
    padding-left: 150px;
    
}
.upper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.kl{
    margin-top: 15px;
    margin-right: 160px;

}
.login{
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    width: 28px;
    background-color:red;
    color: #fff;
    border-radius: 4px;
    
    border: 2px solid red;
    text-decoration: none;
}
.centered{
    justify-content: center;
    flex-grow: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:50vh;
    
}
#form-email{
    display: flex;
    gap: 10px;
}

#email{
    background-color: #000;
    width: 350px;
    height: 60px;
    border-radius: 10px;
    border:1px solid #403e3e;
    opacity: 0.7;
}   

.h1heavy{
    font-size: xxx-large;
    padding-bottom: 18px;
    font-weight:bolder;
}
.h4custom{
    font-size: xx-large;
    padding-bottom: 18px;
}
.h3custom{
    font-size: 25px;
    padding-bottom: 7px;
}
.email-b{
    width:180px;
    background-color: red;
    border: 1px solid red;
    border-radius: 10px;
    color: #ffffff;
    font-size:larger;
    font-weight: bolder;
}
#email::placeholder{
    font-size: large;
    color: #ffffff;
    opacity: 1;
}
#bada{
    font-size: x-large;
    font-weight: 100;
}




